@import url(./header.css);
@import url(./section.css);
@import url(./footer.css);

:root {
    --blue-prusia: #223A59;
    --blue-carolina: #297AF1;
    --blue-vaquero: #5FB5E7;
    --gray: #555555;
    --dark-soft: #131416;
    --negro-pasa: #252323;
    --pink: #FF4294;
    --main: #0D1639;
    --main-hover: #1d2857;
    --sky: #ADBBFD;
    --yellow: #FEA927;
}

* {
    margin: 0;
    padding: 0;
    font-family: "Lexend", sans-serif;;
}
p, address{
    margin: 0;
    padding: 0;
}
.center {
    display: flex;
    justify-content: center;
    align-items: center;
}
.text-gray {
    color: var(--gray);
}
.text-blue-carolina {
    color: var(--blue-carolina);
}
.text-pink {
    color: var(--pink);
}
.text-main {
    color: var(--main);
}
.bg-main {
    background-color: var(--main);
}
.bg-sky {
    background-color: var(--sky);
}
.bg-yellow{
    background-color: var(--yellow);
}
.bg-dark-soft {
    background-color: var(--dark-soft);
}
.bg-negro-pasa{
    background-color: var(--negro-pasa);
}
.scroll-hide::-webkit-scrollbar {
    display: none;
}
  
  /* Hide scrollbar for IE, Edge and Firefox */
.scroll-hide {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}


.max-container {
    max-width: 752px;
    margin: auto;
}


.btn-custom, .btn-gradient {
    background-color: rgb(0, 0, 0);
    color: white;
    border-width: 1px;
    border-style: solid;
    border-color: var(--blue-vaquero);
    padding: .5rem 1.5rem;
    border-radius: 4px;
}
.btn-gradient {
    border-image: radial-gradient(circle, var(--blue-vaquero) 0%, var(--blue-prusia) 100%) 1;
}
.btn-main {
    background-color: var(--main);
    color: white;
    text-align: center;
}
.btn-main:hover {
    background-color: var(--main-hover);
    color: white;
}
.btn-vaquero {
    background-color: var(--blue-vaquero);
    padding: .5rem 1rem;
    color: black;
    font-weight: bold;
    transition: all ease-in-out .2s;
    border-radius: 5px;
    width: fit-content;
    border: 0;
}

h2{
    font-size: 33px;
}

header a, h1, h2, h3, h4, h5, h6 {
    font-family: "Poppins", sans-serif;
}