.title {
    font-size: 56px;
    font-weight: 900;
    background: radial-gradient(circle at center, var(--blue-vaquero) 0%, var(--blue-carolina) 100%);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    text-align: center;
}

.banner {
    margin: auto;
    background-image: url(../img/machuoicchu.png);
    background-position: center;
    background-repeat: no-repeat;
    /* background-size: contain; */
}


.social-media {
    background-color: white;
    border-radius: 50%;
    padding: .5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    font-size: 20px;
}

.number-info {
    color: white;
    font-weight: bolder;
    margin-bottom: .25rem;
}

.invitacion {
    max-width: 196px;
    margin: auto;
}

.bg-shadow {
    /* margin-bottom: 1.5rem; */
    background: radial-gradient(ellipse, #2979f15f 0%, rgb(0, 0, 0) 50%);
}

.icon-gradient {
    position: relative;
    display: inline-block;
}

.icon-gradient::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 150px;
    height: 150px; 
    transform: translate(-50%, -50%);
    background: radial-gradient(circle, var(--blue-carolina) 0%, rgb(0, 0, 0) 50%);
    border-radius: 50%; 
    z-index: -1;
}
.actividades h3 {
    font-size: 24px;
    font-weight: bold;
}
.actividades p{
    font-size: 16px;
    font-weight: normal;
}
.actividad {
    max-width: 340px;
    margin: auto;
}
.actividad button {
    font-weight: normal;
    font-size: 14px;
    border-width: 1px;
}
.day-agenda {
    border-right: 1px solid white;
}

.home-container {
    max-width: 752px;
    margin: auto;
}

.info-div {
    max-width: 336px;
    padding: 48px 36px;
    margin: auto;
}
.objetivo {
    padding-bottom: 2rem;
}
.objetivo:nth-child(1) {
    padding-right: 48px;
}
.objetivo:nth-child(2) {
    padding-left: 48px;
}
.objetivo-cont {
    display: flex;
    flex-direction: column;
}

.actividad {
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 1rem;
}
@media (max-width: 1200px) {
    .info-div {
        padding: 40px 20px;
    }
}
@media (max-width: 991px) {
    
}
@media (max-width: 768px) {
    .day-agenda {
        border-right: 0;
        border-bottom: 1px solid white;
        padding-bottom: 1rem;
    }
    .home-container {
        max-width: 368px;
    }
    .info-div {
        max-width: auto;
    }
    .objetivo {
        padding: 2rem 3rem;
    }
    .objetivo-cont {
        display: flex;
        flex-direction: row;
        justify-content: left;
        gap: 2rem;
    }
    .invitacion {
        margin: 1.5rem auto;
    }
}
@media (max-width: 420px) {
    .objetivo-cont {
        flex-direction: column;
        gap: 0;
    }
}