.title {
    font-size: 58px;
    font-weight: 900;
    background: radial-gradient(circle at center, var(--blue-vaquero) 0%, var(--blue-carolina) 100%);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    text-align: center;
}

.banner {
    margin: auto;
    background-image: url(../img/machuoicchu.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.max-container {
    max-width: 752px;
}

.social-media {
    background-color: white;
    border-radius: 50%;
    padding: .5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    font-size: 20px;
}

.number-info {
    color: white;
    font-size: 96px;
    font-weight: bolder;
    /* margin-bottom: .25rem; */
}
.number-info-sm {
    font-size: 68px;
}

.info-row p {
    padding: 0;
    margin: 0;
}

.info-row div {
    margin-bottom: 1.5rem;
    background: radial-gradient(circle, #2979f170 0%, rgb(0, 0, 0) 40%);
}